.tools__title
  font-size 24px
  font-weight 700
  color #9a9ea4
  position relative
  text-transform uppercase
  &:before
    content attr(title)
    position absolute
    pointer-events none
    left 15px
    bottom 15px
    opacity .12
    font-size 32px
    font-weight 700
    color #9a9ea4
    line-height 1
    text-transform uppercase
    +above(phone-sm)
      font-size 44px
  &:after
    content ''
    display block
    border-radius 5px
    background-color #3a3838
    width 30px
    height 4px
