.footer
  padding-top spacingBase
  padding-bottom spacingBase
  margin-top spacingBase
  border-top borderBase
  @extend .clearfix
  small
    font-size 10px
    font-weight 100
    color lightNavyColor
    display inline-block
  .text-left
    float left
  .text-right
    float right
