<input type="checkbox" id="toggleSearch">

{% include search.html %}

<header class="header">
  <input type="checkbox" id="toggleMenu">
  <label class="toggleMenu" for="toggleMenu" role="button" tabindex="2">
    <svg class="feather feather-menu" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </label>
  {% include navbar.html %}
</header>
