<div class="search">
  <div class="search__inner">
    <div class="search__group">
      <input type="text" id="searchInput" placeholder="search..." class="search__input">
      <label class="search__close" for="toggleSearch">
        <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.84 9.728C16.904 5.85 23.354.423 23.354.423l2.163 2.164s-5.61 6.274-9.493 10.28C19.9 16.935 25.3 23.355 25.3 23.355l-2.162 2.163s-6.315-5.647-10.32-9.53c-4.27 3.9-10.666 9.097-10.666 9.097l-1.73-1.73s5.368-6.266 9.34-10.507C5.86 8.58.64 2.154.64 2.154L2.37.424S8.6 5.76 12.84 9.727z" fill="#909AA8" fill-rule="evenodd" />
        </svg>
      </label>
    </div>
    <div class="search__container">
      <ul class="search__list tools__list" id="resultsContainer"></ul>
    </div>
  </div>
</div>
