header.header
  input(type="checkbox" id="toggleMenu")
  label.toggleMenu(for='toggleMenu' role='button' tabindex='2')
    //- svg.feather.feather-more-horizontal(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    //-   circle(cx='12' cy='12' r='2')
    //-   circle(cx='20' cy='12' r='2')
    //-   circle(cx='4' cy='12' r='2')
    svg.feather.feather-menu(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      line(x1='3' y1='12' x2='21' y2='12')
      line(x1='3' y1='6' x2='21' y2='6')
      line(x1='3' y1='18' x2='21' y2='18')

  nav.header__navbar
    ul.header__nav
      li.header__nav-item
        a.header__nav-search(href='#')
          svg.feather.feather-search(xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            circle(cx='10.5' cy='10.5' r='7.5')
            line(x1='21' y1='21' x2='15.8' y2='15.8')
      li.header__nav-item
        a.header__nav-link(href='#')
          | Página inicial
      li.header__nav-item
        a.header__nav-link(href='#')
          | Sobre o projeto
      li.header__nav-item
        a.header__nav-link(href='#')
          | Como contribuir

