article.toolsCard
  a.toolsCard__inner(href='#')
    figure.toolsCard__figure(style="background-image: url(//placehold.it/450x200)")
      img.toolsCard__image(src="//placehold.it/450x200" alt="")
    header.toolsCard__heading
      h2.toolsCard__title
        | RD Station
      p.toolsCard__desc
        | Uma plataforma para criar uma verdadeira Máquina de Crescimento Uma plataforma para criar uma verdadeira Máquina de Crescimento  Uma plataforma para criar uma verdadeira Máquina de Crescimento
    footer.toolsCard__footer
      .toolsCard__user
        img(src="//avatars3.githubusercontent.com/u/1318271?s=260&v=4" width='36' height='36' alt="")
        span
          small='Enviado por '
          strong='@oseunando'
      .toolsCard__link
        //- svg(width='26' height='27' viewbox='0 0 26 27' xmlns='http://www.w3.org/2000/svg')
        //-   path(d='M7.516 19.21c-.17-.15-.254-.338-.254-.558 0-.22.084-.414.254-.584l9.826-9.902c.17-.17.364-.254.584-.254.22 0 .414.085.584.254.152.152.228.34.228.56 0 .22-.076.413-.228.583l-9.852 9.9c-.084.08-.178.15-.28.19-.1.04-.202.06-.304.06-.1 0-.203-.02-.304-.07-.102-.04-.187-.11-.254-.19zm4.57-1.726l1.295-1.27c.41.966.53 1.96.36 2.984-.17 1.024-.65 1.926-1.44 2.704l-3.28 3.174c-.51.525-1.09.914-1.74 1.168-.65.254-1.31.38-1.99.38-.67 0-1.34-.126-1.99-.38-.65-.254-1.23-.643-1.74-1.168-.52-.508-.91-1.087-1.17-1.74-.25-.65-.38-1.315-.38-1.992s.13-1.337.38-1.98c.26-.644.65-1.228 1.17-1.753l3.2-3.3c.51-.5 1.09-.89 1.74-1.15.65-.26 1.32-.39 1.99-.39.39 0 .77.04 1.14.13.37.09.74.21 1.09.38l-1.27 1.27c-.15-.05-.31-.09-.47-.11-.16-.02-.32-.04-.49-.04-.49 0-.96.1-1.41.28-.44.19-.84.45-1.18.79l-3.2 3.32c-.71.69-1.06 1.55-1.06 2.57 0 1.02.36 1.88 1.07 2.59.36.34.76.6 1.2.79.44.19.91.28 1.4.28.5 0 .96-.09 1.4-.28.44-.18.84-.45 1.19-.78l3.28-3.17c.46-.46.76-.97.92-1.54.15-.564.16-1.144.03-1.74zM24.45 2.174c.526.508.915 1.087 1.17 1.74.253.65.38 1.315.38 1.992s-.127 1.337-.38 1.98c-.255.644-.644 1.228-1.17 1.753l-3.274 3.27c-.508.51-1.088.89-1.74 1.15-.65.26-1.316.39-1.993.39-.338 0-.677-.03-1.015-.08-.34-.05-.67-.15-.99-.28l1.294-1.3c.12.02.237.02.356.02h.355c.49 0 .96-.1 1.41-.28.448-.19.842-.45 1.18-.79l3.276-3.3c.71-.69 1.06-1.55 1.06-2.57S24.01 4 23.3 3.29c-.36-.34-.76-.6-1.2-.785-.44-.19-.91-.28-1.4-.28-.49 0-.96.09-1.4.28-.44.183-.84.446-1.2.784l-3.27 3.18c-.49.49-.81 1.06-.958 1.71-.144.65-.12 1.29.064 1.92l-1.27 1.27c-.475-.98-.627-2.03-.458-3.15.17-1.12.66-2.08 1.47-2.897l3.277-3.17c.51-.525 1.09-.914 1.74-1.17.65-.254 1.32-.38 1.996-.38s1.34.126 2 .38c.65.254 1.23.64 1.74 1.17z' fill='#6FA1E8' fill-rule='evenodd')
        svg.feather.feather-external-link(xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewbox='0 0 24 24' fill='none' stroke='#6FA1E8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6')
          polyline(points='15 3 21 3 21 9')
          line(x1='10' y1='14' x2='21' y2='3')
